<app-banner></app-banner>
<section class="sectionforms">
  <div class="columnforms">
    <div class="h2">Banca Móvil</div>

    <p>
      Viva la experiencia de la nueva Banca Móvil, antes de que esté disponible
      para todo nuestros clientes, al darte de alta por medio de este
      formulario. Verás el detalle de la aplicación, detalle de actualizaciones,
      cómo se diseñó y mucho más.
    </p>
  </div>
  <div class="columnforms">
    <app-forms-contact-us class="formsContact"></app-forms-contact-us>
  </div>
</section>
