<h1 class="h5">- Darse de alta -</h1>
<div class="alert alert-warn">
  <div class="paintBox">
    <img src="./../../../assets/icons/close-button.svg" alt="" srcset="" />
  </div>
  <span> Error al enviar el formulario. </span>
  <div class="paintBox">
    <img src="./../../../assets/icons/close-button.svg" alt="" srcset="" />
  </div>
</div>
<form action="">
  <input id="name" class="formInput" placeholder="Nombre" type="text" />
  <input
    id="email"
    class="formInput"
    placeholder="Correo electrónico"
    type="text"
  />
</form>
<button id="enviar" type="submit" class="btn btn-secundary">Enviar</button>
